<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My name is Paul Solis im a videogame developer speciliced in Unreal Engine 5 and Unity.
        <br>
        I lived in United States for 10 years and moved to mexico in order to study in UNIAT (Univeristy of Advanced Technologies).
        </p>
      </div>
      <div class="col-lg-4">
        <p>I started coding since my senior year in high school but polished my skills in UNIAT.
        <br>
        This is where i have learned how to develop many videogames in Unity to Unreal Engine 5</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://paulands.itch.io/" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Games!
        </a>
      </div>
    </div>
  </div>
</section>
