<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My name is Paul Solis im a videogame programer speciliced in Unreal Engine 5, with background in Unity. 
        I lived in United States for 10 years and moved to mexico in order to study in UNIAT, where the focus in the univeristy is making videogames.
        </p>
      </div>
      <div class="col-lg-4">
        <p>I started coding since my senior year in high school but have been into it since i got into UNIAT (Univeristy of Advanced Technologies)
        Where i have learned to make videogames from unity to unreal engine 5, and even the basics using ASCII in console. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
